<!-- Optional footer content -->
<script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
<script src="{{ "plugins/normalize-whitespace/prism-normalize-whitespace.js" | relative_url }}></script>
<script type="text/javascript">
Prism.plugins.NormalizeWhitespace.setDefaults({
'remove-trailing': true,
'remove-indent': false,
'left-trim': false,
'right-trim': false,
});
</script>
<script type="text/x-mathjax-config"> 
    MathJax.Hub.Config({ 
        "HTML-CSS": { scale: 90 }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
