---
layout: default
---

<header>
  <h1 class="page-title">Chapter {{ page.chapter }}: {{ page.title }}</h1>
</header>
<div class="content">
  {{ content }}

  {%- for section in site.sections -%}
    {%- if section.part == page.part -%}
      {%- if section.chapter == page.chapter -%}
        <h2><a name="pt{{ page.part }}ch{{ page.chapter }}-{{ section.title | remove:" " }}"></a>{{ section.title }}</h2>
        {{ section.output }}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

</div>
